<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="base(title, content)">
<head>
<meta charset="UTF-8">
<title th:replace="${title}">ベースレイアウト</title>
</head>
<body>
	<div style="text-align: center;">
		<h1>☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆<br>
			☆☆　　　　　共通ヘッダー　　　　　☆☆<br>
			☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆<br></h1>
	</div>
	<!-- ▼ここが入れ替わる▼ -->
	<div style="text-align: center;" th:insert="${content}">内容</div>
	<div style="text-align: center;">
		<h1>☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆<br>
			☆☆　　　　　共通フッター　　　　　☆☆<br>
			☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆<br></h1>		
	</div>
</body>
</html>